#Ignore .sdf
*.sdf

#Ignore .user .suo
*.user
*.suo

#Ignore lockfile
*.opensdf

#Ignore mac .DS_Store
*.DS_Store

#Ignore xcode user
*felixjones.xcuserdatad/*

#Ignore VS build files
Debug/
ipch/
Release/
x64/
